@gohubly:registry=https://pkgs.dev.azure.com/b8one/_packaging/gohubly/npm/registry/ 
                        
always-auth=true

//pkgs.dev.azure.com/b8one/_packaging/gohubly/npm/registry/:username=b8one
//pkgs.dev.azure.com/b8one/_packaging/gohubly/npm/registry/:_password=b2VpdXp2dWozYW1vYXZydWRqb2FkaTN1bWZ0Y3NmMzdjNXdhZXJ1enE1dDN3d2R2eGFhYQ==
//pkgs.dev.azure.com/b8one/_packaging/gohubly/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/b8one/_packaging/gohubly/npm/:username=b8one
//pkgs.dev.azure.com/b8one/_packaging/gohubly/npm/:_password=b2VpdXp2dWozYW1vYXZydWRqb2FkaTN1bWZ0Y3NmMzdjNXdhZXJ1enE1dDN3d2R2eGFhYQ==
//pkgs.dev.azure.com/b8one/_packaging/gohubly/npm/:email=npm requires email to be set but doesn't use the value

