registry=https://pkgs.dev.azure.com/b8one/Plugone/_packaging/hubly-design-system/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/b8one/Plugone/_packaging/hubly-design-system/npm/registry/:username=b8one
//pkgs.dev.azure.com/b8one/Plugone/_packaging/hubly-design-system/npm/registry/:_password=cG4yam5hbXVma2tudGl6cTI0dGxkZG1ienpzNDI1YTNlZmx0bGk3a2Q0NWV5aWpldWh6cQ==
//pkgs.dev.azure.com/b8one/Plugone/_packaging/hubly-design-system/npm/registry/:email=marcos.farias@gohubly.com
//pkgs.dev.azure.com/b8one/Plugone/_packaging/hubly-design-system/npm/:username=b8one
//pkgs.dev.azure.com/b8one/Plugone/_packaging/hubly-design-system/npm/:_password=cG4yam5hbXVma2tudGl6cTI0dGxkZG1ienpzNDI1YTNlZmx0bGk3a2Q0NWV5aWpldWh6cQ==
//pkgs.dev.azure.com/b8one/Plugone/_packaging/hubly-design-system/npm/:email=marcos.farias@gohubly.com
; end auth token