registry=https://pkgs.dev.azure.com/b8one/Plugone/_packaging/hubly-design-system/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/b8one/Plugone/_packaging/hubly-design-system/npm/registry/:username=b8one
//pkgs.dev.azure.com/b8one/Plugone/_packaging/hubly-design-system/npm/registry/:_password=NmcyenN6YW1xY3RjNWRvaXZkc21rcWJ6djRldWoyNHNtYWt0ZzJsd3p0aXVhcDJnYmVpYQ==
//pkgs.dev.azure.com/b8one/Plugone/_packaging/hubly-design-system/npm/registry/:email=lucas.tiberio@gohubly.com
//pkgs.dev.azure.com/b8one/Plugone/_packaging/hubly-design-system/npm/:username=b8one
//pkgs.dev.azure.com/b8one/Plugone/_packaging/hubly-design-system/npm/:_password=NmcyenN6YW1xY3RjNWRvaXZkc21rcWJ6djRldWoyNHNtYWt0ZzJsd3p0aXVhcDJnYmVpYQ==
//pkgs.dev.azure.com/b8one/Plugone/_packaging/hubly-design-system/npm/:email=lucas.tiberio@gohubly.com
; end auth token